NODE_ENV=development

# Connection string used by NestJS application
# Update username/password/database as needed
MONGO_URI=mongodb://root:example@mongo:27017/projectian?authSource=admin

# Example: NestJS port (if you read it from env)
PORT=3000

OPENAI_API_KEY=sk-REPLACE_WITH_YOUR_KEY
REDIS_URL=redis://redis:6379
