NODE_ENV=development

# Connection string used by NestJS application
# Update username/password/database as needed
MONGO_URI=mongodb://root:example@mongo:27017/projectian?authSource=admin

# Example: NestJS port (if you read it from env)
PORT=3000

OPENAI_API_KEY=sk-REPLACE_WITH_YOUR_KEY
REDIS_URL=redis://redis:6379
JWT_SECRET=your_jwt_secret_here

# Logging: error | warn | info | http | verbose | debug
LOG_LEVEL=info

# Sentry Configuration
SENTRY_DSN=your_sentry_dsn_here

# MinIO Configuration
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadminpassword
MINIO_BUCKET=todos-bucket
MINIO_USE_SSL=false
